* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

header {
  padding: 10px 60px;
  justify-content: center;
  align-items: center;
  background-color: #373b69;
  color: white;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

header ul li {
  display: inline-block;
  text-decoration: none;
  margin: 0 50px;
}

.search {
    background-color: transparent;
    border: 2px solid white;
    padding: 0.5rem 1 rem;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

