* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #373b69;
  color: white;
  font-family: 'poppins', sans-serif;
}

.logo a {
  align-items: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

main h2 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

#food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10px;
}

main ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

main ul li {
  display: inline-block;
  justify-content: center;
  height: 350px;
  width: 350px;
  border: 1px solid #fff;
  box-shadow: 0 5px;
  overflow: hidden;
  cursor: pointer;
  padding-top: 15px;
}

main ul li img {
  padding-bottom: 20px;
  transition: 0.2s linear;
  width: 100%;
  height: 60%;
}

main ul li h4 {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 5px;
}

.likes {
  display: flex;
  padding: 5px 10px;
  align-items: center;
}

.like {
  padding-right: 5px;
}

.comments,
.reservations {
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.comments:hover {
  transform: rotate(360deg);
  transform: scale(1.01);
  background-color: aqua;
  color: #000;
  font-weight: 700;
}

.reservations:hover {
  transform: rotate(360deg);
  transform: scale(1.01);
  background-color: #b9eb4d;
  color: #000;
  font-weight: 700;
}

.comments {
  background: #373b69;
  color: white;
}

.reservations {
  background: #ea4e15;
  color: white;
}

@media screeen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.like {
  font-size:45px;
  cursor: pointer;
}